.vocab{
    margin-bottom: 0px;
}

h3{
    margin-bottom: -1px;
}

body{
    background-color: rgb(235, 198, 252);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-left: 5px;
  }

  strong {
    font-weight: 700;
  }