<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <title>About</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <h1>Car Crashes in New York City</h1>
  <p class="overall-description">Hi! My project explores the number of car crashes in the different boroughs of NYC over the last ten years. I wanted to see if various external events, like COVID, had significant impacts on the number of car crashes. I also wanted to see if one borough consistently had more car crashes than the others.   </p>

  <h3>How I Got My Data</h3>
  <p class="data-description">I first found my dataset from data.gov. Then, I removed all of the car crashes that did not have a borough attached. This means that the data that I haven't presented does not tell the complete story; rather, it is a reflection of all the car crashes that were recorded appropriately for my project. Then I sorted all the car crashes by borough and year and summed the data.</p>

  <h3>Vocab</h3>
  <p class="vocab">Data.gov: An open access US government website containing over 300,000 data sets.</p>
  <p class="vocab">Car Crashes: Any incident involving a collision between at least two vehicles—this collision does not need to be fatal.</p>
  <p class="vocab">Boroughs: NYC is broken up into 5 boroughs: The Bronx, Brooklyn, Manhattan, Queens, and Staten Island.</p>
  
  <br><br>   
  <br><br> 
  <a href="http://127.0.0.1:5000/index">To the Overview!</a>
  <br><br>

  <footer>
    All data from <a href="https://catalog.data.gov/dataset/motor-vehicle-collisions-crashes"> Data.Gov</a>.
  </footer>
</body>
</html>
