<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <title>Overview</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
 
  {% include 'header.html' %}
  <h1>Over the Years</h1>
  
  <div id="line_graph">
    {% include 'line_graph.svg' %}
  </div>

  <div id = "text-based interpretations" style = "margin-top: -20px;"> 
    <p style="margin-bottom: -3px;">The average number of crashes in each borough:  </p>
    <p style="margin-bottom: -3px;"><strong>Brooklyn:</strong> {{ brooklyn_avg }} crashes </p>
    <p style="margin-bottom: -3px;"><strong>Bronx:</strong> {{ bronx_avg }} crashes </p>
    <p style="margin-bottom: -3px;"><strong>Manhattan:</strong> {{ manhattan_avg }} crashes </p>
    <p style="margin-bottom: -3px;"><strong>Queens:</strong> {{ queens_avg }} crashes </p>
    <p style="margin-bottom: 30px;"><strong>Staten Island:</strong> {{ staten_island_avg }} crashes </p>
  </div>

  <div id = "interpretations" style = "margin-top: -20px;"> 
    <p style="margin-bottom: -3px;"> <strong>Interpretations!</strong></p>
    <li style="margin-bottom: -3px;">Something that really stood out to me was just how drastic the drop in car crashes was during COVID (2020). Also, the level hasn't gone up again since that, probably partially because more people are still working from home. </li>
    <li style="margin-bottom: -3px;">Staten Island has an extremely low number of car crashes relative to the other boroughs. While this is partially just because it has less people, I also learned that Staten Island has a robust public transportation system of its own.</li>
    <li style="margin-bottom: 20px;">Brooklyn consistently has the most crashes. In addition to it being the most populous borough, this could be becausse it has a super extensive street grid and large number of intersections, compared to boroughs with more highways. </li>

  <div style = "margin-top: -10px">
    <form action="/year" method="GET">
      <label for="year_select">Choose a year:</label><br>
      <select name="year" id="year_select">
      </select>
      <script>
        const select = document.getElementById("year_select");
        for (let year = 2014; year <= 2024; year++) {
          const option = document.createElement("option");
          option.value = year;
          option.text = year;
          select.appendChild(option);
        }
      </script>
      <input type="submit" value="Submit">
    <form>
  </div>

  <footer>

    All data from <a href="https://catalog.data.gov/dataset/motor-vehicle-collisions-crashes"> Data.Gov</a>.
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>
